@{
    Layout = null;
}

@using System.Web.Optimization


<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    @Styles.Render(ngFormAcaddemicts.MVC.App_Start.BundleConfig.Bootstrap)

</head>
<body ng-controller="LayoutController as layout">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6">
                <ad-form-control attributes="{ required: true}" text="myLabel" model="layout.formData.test"></ad-form-control>
            </div>
        </div>

        {{ layout.formData.test }}

    </div>

    
    @Scripts.Render(ngFormAcaddemicts.MVC.App_Start.BundleConfig.Angular)
    @Scripts.Render(ngFormAcaddemicts.MVC.App_Start.BundleConfig.App)
</body>
</html>
